!!!
%html
  %head
    %meta{charset: "utf-8"}
    
    %title
      = current_page.data.title || "The Middleman"
    
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,800italic,400,600,800", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag "all"
    = javascript_include_tag  "all"
  %body
    .wrapper
      %header#header
        %h1#site-logo
          %a{href: "./index.html"}
            %img{alt: "Site Logo", src: "/images/logos/logo.png"}/
        %a#top-bar-toggle.navbar-toggle.collapsed{"data-target" => ".top-bar-collapse", "data-toggle" => "collapse", href: "javascript:;"}
          %i.icon-cog
        %a#sidebar-toggle.navbar-toggle.collapsed{"data-target" => ".sidebar-collapse", "data-toggle" => "collapse", href: "javascript:;"}
          %i.icon-reorder
      #search
        %form
          %input.form-control.input-sm{name: "search", placeholder: "Search...", type: "text"}/
          %button#search-btn.btn{type: "submit"}
            %i.icon-search
      %nav#sidebar
        %ul#main-nav.open-active
          %li
            %a{href: "./index.html"}
              %i.fa.fa-dashboard
              Dashboard
          %li.dropdown
            %a{href: "javascript:;"}
              %i.icon-file-text
              Directorio
              %span.caret
            %ul.sub-nav.icons-list
              %li
                %a{href: "./users.html"}
                  %i.icon-li.icon-user
                  Usuarios
              %li
                %a{href: "./grupos.html"}
                  %i.icon-money
                  Grupos
          %li
            %a{href: './calendario.html'}
              Calendario
          %li
            %a{href: './tasks.html'}
              Administrador de Tickets
          %li
            %a{href: './archiveros.html'}
              Administrador de Archivos
          %li
            %a{href: './blogs.html'}
              Blog


      #content
        = yield
      %footer#footer
        %ul.nav.pull-right
          %li
            Copyright © 2013,
            %a{href: "SITE_URL"} Jumpstart Themes