---
title: Usario
name: directorio
---
- user = UsersHelpers::USERS[person_name]
#content-header
  %h1= user[:name]
#content-container
  %table.table.table-striped.table-bordered.table-hover
    
  = image_tag('user.png')